<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oskyhang.system.mapper.BdPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.oskyhang.system.entity.BdPermission" >
    <id column="id" property="id" />
    <result column="name" property="name"/>
    <result column="resource_type" property="resourceType" jdbcType="CHAR" />
    <result column="url" property="url"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, resource_type, url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bd_permission
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bd_permission
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.oskyhang.system.entity.BdPermission" >
    insert into bd_permission (id, name, resource_type, 
      url)
    values (#{id}, #{name}, #{resourceType,jdbcType=CHAR},
      #{url})
  </insert>
  <insert id="insertSelective" parameterType="com.oskyhang.system.entity.BdPermission" >
    insert into bd_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="resourceType != null" >
        resource_type,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="resourceType != null" >
        #{resourceType,jdbcType=CHAR},
      </if>
      <if test="url != null" >
        #{url},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oskyhang.system.entity.BdPermission" >
    update bd_permission
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="resourceType != null" >
        resource_type = #{resourceType,jdbcType=CHAR},
      </if>
      <if test="url != null" >
        url = #{url},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oskyhang.system.entity.BdPermission" >
    update bd_permission
    set name = #{name},
      resource_type = #{resourceType,jdbcType=CHAR},
      url = #{url}
    where id = #{id}
  </update>
</mapper>