<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oskyhang.system.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.oskyhang.system.entity.SysRole" >
    <id column="id" property="id" />
    <result column="role" property="role"/>
    <result column="description" property="description" />
    <result column="available" property="available" />
    <result column="is_delete" property="isDelete" />
    <result column="create_time" property="createTime" />
    <result column="modify_time" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role, description, available, is_delete, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bd_role
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bd_role
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.oskyhang.system.entity.SysRole" >
    insert into bd_role (id, role, description, 
      available, is_delete, create_time, 
      modify_time)
    values (#{id}, #{role}, #{description},
      #{available}, #{isDelete}, #{createTime},
      #{modifyTime})
  </insert>
  <insert id="insertSelective" parameterType="com.oskyhang.system.entity.SysRole" >
    insert into bd_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="available != null" >
        available,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="role != null" >
        #{role},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="available != null" >
        #{available},
      </if>
      <if test="isDelete != null" >
        #{isDelete},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oskyhang.system.entity.SysRole" >
    update bd_role
    <set >
      <if test="role != null" >
        role = #{role},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="available != null" >
        available = #{available},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oskyhang.system.entity.SysRole" >
    update bd_role
    set role = #{role},
      description = #{description},
      available = #{available},
      is_delete = #{isDelete},
      create_time = #{createTime},
      modify_time = #{modifyTime}
    where id = #{id}
  </update>
</mapper>