<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oskyhang.system.mapper.BdUserMapper" >
  <resultMap id="BaseResultMap" type="com.oskyhang.system.entity.BdUser" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="cellphone" property="cellphone" />
    <result column="username" property="username" />
    <result column="password" property="password" />
    <result column="email" property="email" />
    <result column="gender" property="gender" />
    <result column="status" property="status" />
    <result column="is_delete" property="isDelete" />
    <result column="create_time" property="createTime" />
    <result column="create_by" property="createBy" />
    <result column="modify_time" property="modifyTime" />
    <result column="modify_by" property="modifyBy" />
  </resultMap>
  <sql id="Base_Column" >
    id,
    <include refid="Base_Column_exclude_id"/>
  </sql>

  <sql id="Base_Column_exclude_id" >
    name, cellphone, username, password, email, gender, status, create_time, create_by, modify_time, modify_by, is_delete
  </sql>

  <sql id="condition" >
    <if test="id != null" >
      id = #{id}
    </if>
    <if test="username != null" >
      username = #{username}
    </if>
  </sql>

  <select id="load" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column" />
    from bd_user
    where id = #{id}
  </select>

  <select id="getUserInfo" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column" />
    from bd_user
    where
    <if test="type == null" >1=0</if>
    <if test='type == "username"' >username = #{username}</if>
    <if test='type == "cellphone"' >cellphone = #{username}</if>
    <if test='type == "email"' >email = #{username}</if>
  </select>


  <select id="list" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column" />
    from bd_user
    <where>
      <include refid="condition" />
    </where>
  </select>

  <select id="page" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column" />
    from bd_user
    <where>
      <include refid="condition" />
    </where>
    limit #{offset}, #{limit}
  </select>

  <select id="count" resultType="int" parameterType="map" >
    select
    count(*)
    from bd_user
    <where>
      <if test="username != null" >
        id = #{id}
      </if>
    </where>
  </select>

  <delete id="delete" parameterType="java.lang.Long" >
    update bd_user set is_delete = true
    where id = #{id}
  </delete>

  <insert id="insert" parameterType="com.oskyhang.system.entity.BdUser" >
    insert into bd_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >name,</if>
      <if test="cellphone != null" >cellphone,</if>
      <if test="username != null" >username,</if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyBy != null" >
        modify_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="cellphone != null" >
        #{cellphone},
      </if>
      <if test="username != null" >
        #{username},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="email != null" >
        #{email},
      </if>
      <if test="gender != null" >
        #{gender},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="isDelete != null" >
        #{isDelete},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createBy != null" >
        #{createBy},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.oskyhang.system.entity.BdUser" >
    update bd_user
    <set >
      <if test="id != null" >
        id = #{id},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="cellphone != null" >
        cellphone = #{cellphone},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>
